@charset "UTF-8";

.category_wrapper {
  margin-bottom: var(--mb-contents);
}

.category_nav_bar {
  height: var(--hi-nav);
  background-color: var(--col-gray);
}

.category_nav_bar_contents {
  /* 横幅は「common.css」で一元管理 */
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open_nav_btn {
  width: var(--wd-nav);
  height: 100%;
}

.open_nav_btn>button {
  width: 100%;
  height: 100%;

  text-align: center;
  color: var(--col-white);
  font-weight: bold;
  font-size: var(--fs-open-nav-btn);
  background-color: var(--col-second);
}
.category_lists_wrapper {
  /* 横幅は「common.css」で一元管理 */
  /* height: calc(100% - var(--hi-nav)); */
  height: var(--hi-genre-display);

  display: flex;
  align-items: start;
}

.nav_lists {
  width: var(--wd-nav);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
  width: 100%;
  height: 100%;
  background-color: var(--col-gray);
  border-top: var(--border);

  text-align: center;
  color: var(--col-black);
}

.nav_item h3,
.nav_item h3 button {
  width: 100%;
  height: 100%;
}

.genreDisplay {
  width: calc(100% - var(--wd-nav));
  height: 100%;
  overflow-y: scroll;
  background-color: var(--col-white);
  padding: 2rem 1rem;
  border-right: var(--border-gray);
  border-bottom: var(--border-gray);
}

.category_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  color: var(--col-black);
  text-align: center;
}

.genre {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: var(--mb-contents);
}

.genre>button {
  width: 100%;
  cursor: pointer;
}

.genre>button:hover {
  transform: scale(1.1);
}

.genre .header {
  width: var(--wd-genre-header);
  height: var(--wd-genre-header);
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto var(--mb-container) auto;
}

.genre .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .category_lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 559px) {
  .category_lists {
    grid-template-columns: repeat(1, 1fr);
  }

  .genreDisplay {
    width: calc(100% - var(--wd-mb-nav));
  }

  .open_nav_btn {
    width: var(--wd-mb-nav);
  }

  .nav_lists {
    width: var(--wd-mb-nav);
  }

  .nav_item h3 button {
    font-size: 0.8rem;
  }

  .genre .body h4 {
    font-size: 1.1rem;
  }
}