@charset "UTF-8";

.pagetop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  z-index: 9999;
}

.pagetop a {
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--col-mian);
  border-radius: 50%;
  box-shadow: var(--box-shadow);

  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width: 559px) {
  .pagetop {
    right: 50%;
    transform: translateX(50%);
  }
}