@charset "UTF-8";

.feature .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1.3rem;
}

.feature .img_wrapper {
  display: block;
  width: var(--bn-wd-rectangle);
  height: auto;
  margin: 0 auto;
}

.feature img {
  width: 100%;
  min-width: 100%;
}