@charset "UTF-8";

.hero {
  width: 100%;
}
.top_slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: var(--bn-hi-slider);

  margin-bottom: var(--mb-container);
}
.top_slider ul {
  position: absolute;
  height: 100%;

  display: flex;
  align-items: center;
}

.top_slider ul li {
  width: var(--wd-body);
  height: 100%;
}

.top_slider ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.top_slider ul li img {
  width: 100%;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_indicator {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.previous_btn {
  width: var(--wi-indicator-btn);
  height: var(--hi-indicator-btn);
  background-color: var(--col-second);
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.previous_btn:hover{
  background-color: var(--col-second-hover);
}

.next_btn {
  width: var(--wi-indicator-btn);
  height: var(--hi-indicator-btn);
  background-color: var(--col-second);
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.next_btn:hover{
  background-color: var(--col-second-hover);
}

.dot_indicator ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.dot_indicator ul li {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ccc;
}
.dot_indicator ul li.active {
  background-color: var(--col-black);
}

.dot_indicator ul li a {
  display: block;
  width: 100%;
  height: 100%;
}